<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resources</key>
	<dict>
		<key>title</key>
		<string>Resources</string>
		<key>content</key>
		<string>&lt;p&gt;If you, your group or organization would like to receive training to support survivors of sexual assault and intimate partner violence, please contact our partners at the Washington DC Rape Crisis Center (&lt;a href=&apos;mailto:dcrcc@dcrcc.org&apos;&gt;dcrcc@dcrcc.org&lt;/a&gt;).&lt;/p&gt;
&lt;p&gt;If you would like to send us anonymous feedback about this app you can do so &lt;a href=&apos;https://docs.google.com/forms/d/e/1FAIpQLSdZBWnjulmziUhfM0Tq8ahVLPKCkuTPh_ANhuzzmDdKT4bdyw/viewform&apos;&gt;here&lt;/a&gt;.&lt;/p&gt;</string>
	</dict>
	<key>about</key>
	<dict>
		<key>title</key>
		<string>About</string>
		<key>content</key>
		<string>&lt;p&gt;This is a free and open source resource created by Code Innovation in partnership with the Washington DC Rape Crisis Center(&lt;a href=\&apos;http://dcrcc.org\&apos;&gt;(http://dcrcc.org)&lt;/a&gt;.&lt;/p&gt;
&lt;p&gt;We want to thank our partners, including:&lt;/p&gt;
&lt;p&gt;Rita Langley&lt;br&gt;Free Women Writers (&lt;a href=\&apos;http://www.freewomenwriters.org/\&apos;&gt;www.freewomenwriters.org&lt;/a&gt;)&lt;br&gt;Megan Nobert, Founder and Former Director of Report the Abuse&lt;br&gt;Tanya Roussopoulos Williams, Women&apos;s Human Rights Consultant, London&lt;/p&gt;
                       &lt;p&gt;Thanks also to the generous support of our crowdfunders and donors. This resource would not be possible without you!&lt;/p&gt;
                       &lt;p&gt;&lt;strong&gt;Ambassadors&lt;/strong&gt;&lt;br&gt;Imago Dei Foundation&lt;/p&gt;
                       &lt;p&gt;&lt;strong&gt;Advocates&lt;/strong&gt; &lt;br&gt;Namaste Foundation &lt;br&gt;Yen Yang Lim&lt;/p&gt;
                       &lt;p&gt;&lt;strong&gt;Supporters&lt;/strong&gt;&lt;br&gt;Sam &amp;amp; Sybil Williams &lt;br&gt;Caroline L. Martin &lt;br&gt;George Losleben &lt;br&gt;Connie Johnson&lt;/p&gt;
                       &lt;p&gt;&lt;strong&gt;Contributors&lt;/strong&gt;&lt;br&gt;Ali Neely&lt;br&gt;Regina Njima &lt;br&gt;Nell Watson &lt;br&gt;Emilia Lahti &lt;br&gt;Tania Campbell &lt;br&gt;Peter Lacey &amp;amp; Meg Hess&lt;br&gt;Genevieve Frances &lt;br&gt;Victor Udoewa &lt;br&gt;Elizabeth Klinger &lt;br&gt;Janaina Pinto &lt;br&gt;Jennifer Townsend &lt;br&gt;Kim Marie Nicols &amp;amp; Clifford Hayden&lt;br&gt;Landis Wyatt &lt;br&gt;Brenda Wrobel &lt;br&gt;Chid Liberty &lt;br&gt;Nellie Johnson&lt;/p&gt;
                       &lt;p&gt;&lt;em&gt;For more information, please visit us at &lt;a href=\&apos;http://rapecrisiscounseling.org\&apos;&gt;rapecrisiscounseling.org&lt;/a&gt;.&lt;/em&gt;&lt;/p&gt;
</string>
	</dict>
	<key>advocate_training</key>
	<dict>
		<key>title</key>
		<string>Advocate Training</string>
		<key>content</key>
		<string>This is a training primer for volunteer advocates who want to support survivors of sexual assault and intimate partner violence at health centers in their communities</string>
	</dict>
	<key>survivor_resource</key>
	<dict>
		<key>title</key>
		<string>Resource for Survivors</string>
		<key>content</key>
		<string></string>
	</dict>
	<key>advocate_resource</key>
	<dict>
		<key>title</key>
		<string>Resource for Advocates</string>
		<key>content</key>
		<string></string>
	</dict>
	<key>privacy</key>
	<dict>
		<key>title</key>
		<string>Privacy Policy</string>
		<key>content</key>
		<string>&lt;p&gt;This privacy statement discloses the privacy practices of Code Innovation LLC and
this application as of 1 March 2018.&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Information Collected By Us&lt;/u&gt;&lt;/p&gt;

&lt;p&gt;The types of information that we collect consists exclusively of non-personally
identifiable information typcially gathered by applications. It is all
aggregate information or other information that does not reveal your identity.&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Information Collected and Used By Us&lt;/u&gt;&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Log Files&lt;/u&gt;: Any time you visit our application, our servers may gather
certain information from your browser. This may include your IP address,
browser type, Internet service provider (ISP), referring/exit pages, platform
type, date/time stamp, and number of clicks.&amp;nbsp; We gather this information
to administer the site, track visitor movement in the aggregate, gather
demographic information, and monitor which parts of our application that
visitors are accessing.&amp;nbsp; We will not share this information with anyone.&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Information
gathered by Publishing Platforms&lt;/u&gt;: We use Google Play and Apple
to publish our application.&amp;nbsp; They may automatically collect information
about the users of our application.&amp;nbsp; We have no control over what Google
Play or Apple collect, or what they may do with that information.&amp;nbsp; You can
find the most recent copy of the privacy policies for Google Play and Apple
at&amp;nbsp; &lt;/p&gt;

&lt;p&gt;&lt;a
href=&quot;https://www.google.com/policies/privacy/&quot;&gt;https://www.google.com/policies/privacy/&lt;/a&gt; and &lt;a
href=&quot;https://www.apple.com/legal/privacy/en-ww/&quot;&gt;https://www.apple.com/legal/privacy/en-ww/&lt;/a&gt;&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Mobile Analytics&lt;/u&gt;: We use mobile analytics software to let us better
understand the functionality of our application.&amp;nbsp; This software may record
information such as how often you use the application, and where the
application was downloaded from.&amp;nbsp;&amp;nbsp; &lt;/p&gt;

&lt;p&gt;&lt;u&gt;Mobile Device&lt;/u&gt;: If you use a mobile device to access our application, we
may collect device information (such as mobile device ID, model and
manufacturer), operating system and version information, and IP address.&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Mobile Device Additional Terms&lt;/u&gt;&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Mobile Device&lt;/u&gt;: If you use a mobile device to access our application, we
may collect device information (such as your mobile device ID, model and
manufacturer), operating system and version information, and IP address.&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Geo-Locational Information&lt;/u&gt;: We do not access or track any location-based
information from your mobile device.&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Push Notifications&lt;/u&gt;: We will not send you any push
notifications.&amp;nbsp; &lt;/p&gt;

&lt;p&gt;&lt;u&gt;Disclosure of Your Information&lt;/u&gt;&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Disclosure By Law&lt;/u&gt;: You acknowledge and agree that we may disclose information
we gather from people who use this application if required to do so by law, or
if we, in our sole discretion, believe that disclosure is reasonable to (1)
comply with the law, requests or orders from law enforcement, or any legal
process (whether or not such disclosure is required by applicable law); (2)
protect or defend us or a third party’s, rights or property; or (3) protect
someone’s health or safety, such as when there is a threat of harm or violence
to any person (including you).&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Information Transferred As a Result of Transfer of Application&lt;/u&gt;: It is
conceivable that we will transfer the operation of the application to a third
party.&amp;nbsp; The information we gather from users of this application may be
one of the transferred assets.&amp;nbsp; If this occurs, this Privacy Policy may be
notified to reflect any material changes to the way that information gathered
is collected or used.&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Security&lt;/u&gt;&lt;/p&gt;

&lt;p&gt;We have extensive security measures in place to protect the loss, misuse and alteration
of the information stored in our database. We will exercise reasonable care in
providing secure transmission of information between your computer and our
servers, but given that no information transmitted over the Internet can be
guaranteed 100% secure, we cannot ensure or warrant the security of any
information transmitted to us over the Internet and hence accept no liability
for any unintentional disclosure.&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Data Retention&lt;/u&gt;&lt;/p&gt;

&lt;p&gt;We may retain information gathered from users of this application in order to comply
with applicable laws, keep accurate records, resolve disputes, prevent fraud,
or for any other legally permissible purpose.&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Contacting the Application&lt;/u&gt;&lt;/p&gt;

&lt;p&gt;If you have any questions about this privacy statement or this application, please
contact support@rapecrisiscounseling.org.&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Acceptance of Privacy Statement&lt;/u&gt;&lt;/p&gt;

&lt;p&gt;Your use of our application, including any dispute concerning privacy, is subject to
this privacy statement and applicable Terms of Use. By using our application,
you accept the practices described in this Privacy Statement and related Terms
of Use. &lt;/p&gt;

&lt;p&gt;We reserve the right to modify this privacy statement at any time, without
providing a notice to you. We will post any changes to this privacy policy so
that you know what information we collect, how we use it, and under what
circumstances, if any, we disclose it. We encourage you to review this policy
frequently.&lt;/p&gt;

&lt;p&gt;&amp;nbsp;&lt;/p&gt;</string>
	</dict>
	<key>terms</key>
	<dict>
		<key>title</key>
		<string>Terms of Use</string>
		<key>content</key>
		<string>&lt;p&gt;Welcome to our application. If you
continue to browse and use this application, you agree to comply with and be
bound by the following terms and conditions of use. These terms and conditions
govern your relationship with you in relation to this application. If you disagree with any part of these terms and conditions, please do not use our application.&lt;/p&gt;

&lt;p&gt;This statement of terms and
conditions of use also contains a list of disclaimers about the content of this
application and how it is to be used.&amp;nbsp; Please read the statement
carefully, as you are agreeing that we have no liability for any harm that
anyone may suffer as a direct or indirect use of the information provided in
this application.&lt;/p&gt;

&lt;p&gt;The terms ‘we’ or ‘us’ refer to the
owner of the application, which is Code Innovation. The term ‘you’ refers to
the user or viewer of our application.&lt;/p&gt;

&lt;p&gt;The use of this application is
subject to the following:&lt;/p&gt;

&lt;p&gt;1. The content of this application
is for your general information and use only. It is subject to change without
notice, and we will not notify you of any such changes.&lt;/p&gt;

&lt;p&gt;2. We may modify, suspend, or
terminate the operation of this application at any time, and we reserve the
right to suspend or terminate the use of or access to this application by any
particular use at any time or for any reason.&amp;nbsp; &lt;/p&gt;

&lt;p&gt;3. Neither we nor any third parties provide any warranty
or guarantee as to the accuracy, timeliness, performance, completeness or
suitability of the information and materials found or offered on this
application for any particular purpose. You acknowledge that such information
and materials may contain inaccuracies or errors, and you agree that we may not
be held liable for any such inaccuracies or errors to the fullest extent
permitted by law.&lt;/p&gt;

&lt;p&gt;5. The information provided in
this application is for your general use.&amp;nbsp; None of the material in this
application is intended to serve as medical or legal advice from a person
licensed to practice medicine or law, or to serve as a training manual for
anyone interested in assisting or advocating for persons who claim they are a
survivor of any emotional or physical abuse or harm. You are urged to contact a medical or legal
professional of your choice to obtain information specific to your situation
and to the laws of your country or area. &lt;/p&gt;

&lt;p&gt;6. This application is in no way intended to serve as a
formal or informal substitute for training as an advocate for persons who have
suffered some form of emotional or physical abuse or harm at the hands of
another. The owners of this application have made no attempt to determine the
laws or procedures that may be applicable in any specific country with respect
to the treatment of persons who have suffered abuse or harm at the hands of
someone else. Persons who are advocates for these persons are urged to obtain
formal training from persons or entities knowledgeable of the laws and customs
in their area.&lt;/p&gt;

&lt;p&gt;7. Your use of any information or
materials on this application is entirely at your own risk, for which we shall
not be liable. It shall be your own responsibility to ensure that any
information available through this application meet your specific requirements.
In particular, the information and materials in this application are not
intended to be used as a review or training manual for any licensing required
or allowed for any purpose in any jurisdiction. If licensing or training is
required for any activity you conduct with respect to any matter discussed on
this application, you agree to obtain that licensing or training.&lt;/p&gt;

&lt;p&gt;8. If any third party claims that
you caused them injury as a result of your use or reliance on information in
this application (as for example, some injury caused during the types of
medical examination discussed herein), you agree to hold us harmless from any
such claim, and to indemnify us to the fullest extent allowed by the laws of
the jurisdiction where the claim is brought.&lt;/p&gt;

&lt;p&gt;9. This application contains material which is owned by
us. This material includes, but is not limited to, the design, layout, look,
appearance and graphics.&amp;nbsp; All material owned by us is considered a Free
Cultural Work, as currently defined here:&amp;nbsp; &lt;a
href=&quot;https://freedomdefined.org/Definition&quot;&gt;https://freedomdefined.org/Definition&lt;/a&gt;. We also hereby waive all rights under any copyright
or other intellectual property law of any jurisdiction, so that you may freely
study, copy, use, redistribute, change, or improve the materials provided in
this application.&lt;/p&gt;

&lt;p&gt;10. From time to time, this application may also include
links to other applications. These links are provided for your convenience to
provide further information. They do not signify that we endorse the
application(s). We have no responsibility for the content of the linked
application(s).&lt;/p&gt;</string>
	</dict>
</dict>
</plist>
