<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resources</key>
	<dict>
		<key>title</key>
		<string>Resources</string>
		<key>content</key>
		<string>&lt;p&gt;If you, your group or organization would like to receive training to support survivors of sexual assault and intimate partner violence, please contact our partners at the Washington DC Rape Crisis Center (&lt;a href=&apos;mailto:dcrcc@dcrcc.org&apos;&gt;dcrcc@dcrcc.org&lt;/a&gt;).&lt;/p&gt;
&lt;p&gt;If you would like to send us anonymous feedback about this app you can do so &lt;a href=&apos;https://docs.google.com/forms/d/e/1FAIpQLSdZBWnjulmziUhfM0Tq8ahVLPKCkuTPh_ANhuzzmDdKT4bdyw/viewform&apos;&gt;here&lt;/a&gt;.&lt;/p&gt;</string>
	</dict>
	<key>about</key>
	<dict>
		<key>title</key>
		<string>About</string>
		<key>content</key>
		<string>&lt;p&gt;This is a free and open source resource created by Code Innovation in partnership with the Washington DC Rape Crisis Center&lt;/p&gt;
&lt;p&gt;We want to thank our partners, including:&lt;/p&gt;
&lt;p&gt;Free Women Writers (&lt;a href=\&apos;http://www.freewomenwriters.org/\&apos;&gt;www.freewomenwriters.org&lt;/a&gt;)&lt;br&gt;Megan Nobert, Founder and Former Director of Report the Abuse&lt;br&gt;Tanya Roussopoulos Williams, Women&apos;s Human Rights Consultant, London&lt;/p&gt;
&lt;p&gt;Thanks also to the generous support of our crowdfunders and donors. This resource would not be possible without you!&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Ambassadors&lt;/strong&gt;&lt;br&gt;Imago Dei Foundation&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Advocates&lt;/strong&gt; &lt;br&gt;Namaste Foundation &lt;br&gt;Yen Yang Lim&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Supporters&lt;/strong&gt;&lt;br&gt;Sam &amp;amp; Sybil Williams &lt;br&gt;Caroline L. Martin &lt;br&gt;George Losleben &lt;br&gt;Connie Johnson&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Contributors&lt;/strong&gt;&lt;br&gt;Ali Neely&lt;br&gt;Regina Njima &lt;br&gt;Nell Watson &lt;br&gt;Emilia Lahti &lt;br&gt;Tania Campbell &lt;br&gt;Peter Lacey &amp;amp; Meg Hess&lt;br&gt;Genevieve Frances &lt;br&gt;Victor Udoewa &lt;br&gt;Elizabeth Klinger &lt;br&gt;Janaina Pinto &lt;br&gt;Jennifer Townsend &lt;br&gt;Kim Marie Nicols &amp;amp; Clifford Hayden&lt;br&gt;Landis Wyatt &lt;br&gt;Brenda Wrobel &lt;br&gt;Chid Liberty &lt;br&gt;Nellie Johnson&lt;/p&gt;
&lt;p&gt;&lt;em&gt;For more information, please visit us at &lt;a href=\&apos;http://rapecrisiscounseling.org\&apos;&gt;rapecrisiscounseling.org&lt;/a&gt;.&lt;/em&gt;&lt;/p&gt;</string>
	</dict>
	<key>important</key>
	<dict>
		<key>title</key>
		<string>Important: Read this First</string>
		<key>content</key>
		<string>This training is designed to teach volunteer advocates how to provide competent, effective crisis intervention services to victims and survivors of sexual assault.
This training is meant to supplement, and not replace, formal training for rape crisis counseling offered at rape crisis centers. Completion does not certify trainees as advocates or counselors.
\n\nHowever, we acknowledge that because &lt;u&gt;these services may be limited in your community&lt;/u&gt;, if you seek to serve as an advocate but no training is available, it may be helpful to consult this digital training as a guide.
\n\nThis training presents basic supportive listening skills that can be used without advanced training. This training in no way teaches the skills necessary to provide counseling therapy.
\n\nBy continuing, you acknowledge that you understand the limits of this digital training.</string>
	</dict>
	<key>advocate_training</key>
	<dict>
		<key>title</key>
		<string>Advocate Training</string>
		<key>content</key>
		<string>This is a training primer for volunteer advocates who want to support survivors of sexual assault and intimate partner violence at health centers in their communities</string>
	</dict>
</dict>
</plist>
